@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.signup_page {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    background-color: #d586ff; /* Optional: background color for the page */
  }
.signupFormBox{
    display: flex;
    align-items: center;
    background-color: rgb(241, 227, 255);
    max-width: 200vh;
    padding: 50px; /* Space inside the box */
    border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: shadow for the box */
}
.signup_image{
    width: 400px;
    height: auto;
    max-width: 100%;
    margin-left: 50px;
}
.signup_title{
    font-family: 'Lato', sans-serif; /* Apply Lato font */
    font-weight: 700;
    font-size: 30px; /* Adjust size for headings */
    margin-bottom: 30px;
    margin-left: 20px;
}